@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  @apply text-black bg-white;
}

:root.dark {
  color-scheme: dark;
  @apply text-white bg-black;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-1 transition duration-300 ease-out decoration-slate-200 dark:decoration-slate-600 hover:decoration-black dark:hover:decoration-white underline-offset-4;
}

.prose .anchor:after {
  @apply text-slate-500;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border bg-black border-gray-700/50 px-0;
}

.prose code {
  @apply px-1 py-0.5 border border-slate-200 dark:border-slate-600 rounded-full bg-slate-200/60 dark:bg-slate-600/60;
}

.prose pre code {
  @apply p-0 border-none rounded-3xl bg-black dark:bg-black;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none text-xs;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-0.5 pl-2 pr-3 border-l-2 border-l-transparent;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-zinc-900 border-l-pink-500;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-2 font-mono text-xs rounded-t-3xl border border-gray-700/50 bg-black text-slate-200;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0 rounded-b-3xl;
}
