@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  @apply text-black bg-white;
}

:root.dark {
  color-scheme: dark;
  @apply text-white bg-black;
}

:root div[data-theme='dark'],
:root pre[data-theme='dark'],
:root code[data-theme='dark'] {
  display: none;
}

:root.dark div[data-theme='light'],
:root.dark pre[data-theme='light'],
:root.dark code[data-theme='light'] {
  display: none;
}

:root.dark div[data-theme='dark'],
:root.dark pre[data-theme='dark'],
:root.dark code[data-theme='dark'] {
  display: block;
}

.prose {
  @apply text-black dark:text-white;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply font-normal text-pink-500 decoration-1 decoration-transparent hover:decoration-pink-500 underline-offset-4;
}

.prose .anchor:after {
  @apply text-black dark:text-white;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border dark:bg-zinc-900/80 border-gray-200 dark:border-gray-700/50 px-0;
}

.prose code {
  @apply font-normal px-1 py-0.5 border border-neutral-200 dark:border-neutral-700/60 rounded-[4px] bg-neutral-200 dark:bg-neutral-800;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.prose .callout > p:not(:last-child) {
  padding-bottom: 1.25em;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-0.5 pl-2 pr-3 border-l-2 border-l-transparent;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-yellow-100/60 dark:bg-yellow-100/10 border-l-yellow-700/60;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-2 font-mono text-xs rounded-t-[6px] border border-gray-200 dark:border-zinc-800 bg-gray-100 dark:bg-transparent text-neutral-500 dark:text-neutral-400;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0 rounded-b-[6px];
}

[data-rehype-pretty-code-fragment] pre {
  @apply bg-transparent dark:bg-zinc-900/80;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words px-0 py-0 border-none rounded-none text-xs bg-transparent !important;
  counter-reset: line;
  box-decoration-break: clone;
}
